[Unit]
Description=IOT Central Finance
After=multi-user.target

[Service]
ExecStart=/home/pi/bin/iot-central-finance
Restart=always
RestartSec=60
EnvironmentFile=/home/pi/bin/env.txt

[Install]
WantedBy=multi-user.target